body {
	background: lightgrey;
	font-size: 14px;
}

.contact {
	width: 80%;
	margin: 50 px auto;
}
.contact-box{
	background: white
	display; flex: auto
}

.contact-left{
	flex-basis: 60%
	padding 40px 60px
}

.contact-right{
	flex-basis: 40%;
	padding: 40px;
	background: blue;
	color:white;
}
h1{
	margin-bottom: 10px;
}
.contact p{
	margin-bottom: 40px;
}